body{
	font-family: figtree;
}
h1{
	text-shadow: blue 0px 0px 1em;
}
h2 {
	text-shadow: red 0px 0px 1em;
}
#imgGitHub {
	width: 150px;
	height: 150px;
	transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
}
#version{
	position:absolute;
	right: 2%;
	top: 2%;
}
#pr1 {
	width: 100%;
}
#pr {
	width: 100%;
}
@keyframes load {
	0% {
		border-left: 5px solid rgba(150, 40, 27, 1);
		border-right: 5px solid rgba(150, 40, 27, 1);
		border-bottom: 5px solid rgba(150, 40, 27, 1);
		transform: rotate(10deg);
	}
	50% {
		border-left: 5px solid rgba(217, 30, 24, 1);
		border-right: 5px solid rgba(217, 30, 24, 1);
		border-bottom: 5px solid rgba(217, 30, 24, 1);
	}
	100% {
		border-left: 5px solid rgba(0, 230, 64, 1);
		border-right: 5px solid rgba(0, 230, 64, 1);
		border-bottom: 5px solid rgba(0, 230, 64, 1);
		transform: rotate(360deg);
	}
}
table{
	border-radius: 15px;
}

td{
	border-radius: 5px;
	padding: 2px;
}

th{
	border-radius: 10px;
	padding: 2px;
}

#ChangelogBtn{
	padding: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	color: white;
	border-color: rgba(0,0,0,0);
	background-color: #2272FF;
	border-radius: 10px;
}
#HTML{
	padding: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	color: white;
	border-color: rgba(0,0,0,0);
	background-color: #2272FF;
	border-radius: 10px;
}
#GDWJS{
	padding: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	color: white;
	border-color: rgba(0,0,0,0);
	background-color: #2272FF;
	border-radius: 10px;
}
.Name {border-style: dashed;}
/* Not used yet */
@keyframes rainbow{
	0%{color:blue;}
	10%{color:red;}
	20%{color:magenta;}
	30%{color:cyan;}
	40%{color:yellow;}
	50%{color:royalblue;}
	60%{color:black;}
	70%{color:pink;}
	80%{color:tomato;}
	90%{color:grey;}
	100%{color:navyblue;}
}
